/* Centralização */

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Centralização */

/* Card */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content; 
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.25);
}

/* Card */

/* Conteudo */

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 30px;
  padding: 30px 240px;
}

.card__foto {
  width: 180px;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.15));
}

.card__name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #a6a6a6;
}

.card__btn {
  display: inline-block;
  margin-top: 30px;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 800;
  color: #818181;
  background: #d9d9d9;
  border-radius: 10px;
  border: 3px solid rgba(95, 95, 95, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.card__btn.ativo__btn {
  background: #a448ff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(164, 72, 255, 0.25);
  color: #ddd;
}

.card__btn:hover {
  background: #a448ff;
  border: 3px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 0px 0px rgba(164, 72, 255, 0.25);
  color: #ddd;
  transform: scale(1.05);
}

/* Conteudo */

.card__links a {
  display: block;
  align-content: center;
  padding: 20px 220px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  color: #464646;
  border: 3px solid rgba(95, 95, 95, 0.1);
  background: #d2cfd4;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease-out;
}

.card__links li {
  margin: 40px 30px;
}

.card__links li:nth-of-type(4) {
  margin-bottom: 30px;
}

/* Hover Links */

.link__linkedin:hover {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: #5a92ff;
  box-shadow: 0px 4px 0px 0px rgba(90, 146, 255, 0.25);
  color: #ddd;
  transform: scale(1.05);
  transition: 0.1s ease-in;
}

.link__insta:hover {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: var(
    --Instagram,
    linear-gradient(270deg, #6228d7 0.24%, #ee2a7b 50.04%, #f9ce34 99.84%)
  );
  box-shadow: 0px 4px 0px 0px rgba(224, 71, 140, 0.25);
  color: #ddd;
  transform: scale(1.05);
  transition: 0.1s;
}

.link__github:hover {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: #404040;
  box-shadow: 0px 4px 0px 0px rgba(64, 64, 64, 0.25);
  color: #ddd;
  transform: scale(1.05);
  transition: 0.1s ease-in;
}

.link__mail:hover {
  border-radius: 10px;
  border: 3px solid rgba(95, 95, 95, 0.1);
  background: #fff;
  box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
  transition: 0.1s ease-in;
}

/* Hover Links */

@media (max-width:700px) {
  .card__content {
    padding-top: 10px;
    padding: 15px 120px;
  }
  .card__links a {
    display: block;
    align-content: center;
    padding: 20px 200px;
    text-align: center;
    font-size: 15px;
  }
}
@media (max-width:500px) {
  .card__content {
    padding-top: 10px;
    padding: 15px 120px;
  }
  .card__links a {
    display: block;
    align-content: center;
    padding: 20px 15px;
    text-align: center;
    font-size: 15px;
  }
}
